.navbar {
  background-color: black;
  height: 75px;
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;;
}
.left-navbar {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  position: relative;
  text-decoration: none;
  color: white;
  margin: 50px 0px 10px 30px;
  
}

.links:after {
  content: '';
  width: 0; height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width .5s ease;
  -webkit-transition: width .2s ease;
}

.links:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
}

.right-navbar {
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
  margin-right: 20px;
  margin-top: 25px;
  color: rgb(223, 172, 61);
}

.subscribe {
  text-decoration: none;
  color: white;
  margin-top: 25px;
  border: 1px solid white;
  border-radius: 10px;
  width: 80px;
  height:22px;
  text-align: center;
  transition: background-color .7s;
}

.subscribe:hover {
  color: white;
  background-color: rgb(223, 172, 61);
  transition: background-color .7s;
}