.navbar {
  background-color: black;
  height: 75px;
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;;
}
.left-navbar {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  text-decoration: none;
  color: white;
  margin: 50px 0px 10px 30px;
}

.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.link:hover:before {
  visibility: visible;
  width: 100%;
}

.right-navbar {
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
  margin-right: 20px;
  margin-top: 25px;
  color: rgb(223, 172, 61);
}

.subscribe {
  text-decoration: none;
  color: white;
  margin-top: 25px;
  border: 1px solid white;
  border-radius: 10px;
  width: 80px;
  height:22px;
  text-align: center;
  transition: background-color .7s;
}

.subscribe:hover {
  color: white;
  background-color: rgb(223, 172, 61);
  transition: background-color .7s;
}