
.source {
  background-color: rgb(24, 26,28);
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.source-section-1 {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.source-section-2 {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.source-img {
  width: 500px;
  border-radius: 5px 5px 0 0;
}

.source-link {
  text-decoration: none;
  color: rgb(53, 155, 215);
  text-align: center;
  margin-left: 30px;
}

.source-link > h1 {
  color: white;
}

.source-link > p {
  color: white;
}

.source-mini-logo {
  width: 45px;
}