body {
  margin: 0;
  box-sizing: border-box;
}

.blog-section {
  background-color: rgb(24, 26, 28);
 display: flex;
 justify-content: center;
 align-items: baseline;
 flex-wrap: wrap;
}

.source-section {
  background-color: rgb(24, 26, 28);
  display: inline-block;
}